
td {
  width: 10rem;
  padding: 1%;
  
}


@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: powderblue;
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  body {
    background-color: limegreen;
  }
}


@media (min-width: 1001px) {
  body {
    background-color: seagreen;
  }
}


th {
    text-decoration: underline;
    text-align: left;
}